@import "tailwindcss";

@theme {
  --color-papa-dark: #0a121e;
  --color-papa-card: #162231;
  --color-papa-orange: #ff6b00;
  --color-papa-blue: #00d1ff;
}

body {
  background-color: var(--color-papa-dark);
  color: white;
  margin: 0;
}